TZ="Asia/Tokyo"
SMTP_SERVER="smtp.gmail.com"
SMTP_DOMAIN="gmail.com"
SMTP_PORT="587"
SMTP_USER="username"
SMTP_PASSWORD="password"
SMTP_ALIAS="Ribbon UI"
MAIL_DOMAIN_WHITELIST="gmail.com"
MAIL_EXPIRES_IN="5m"

JWT_ISS="http://localhost:4200"
JWT_AUD="ribbon-ui"

ACCESS_TOKEN_JWT_SECRET="secret"
ACCESS_TOKEN_EXPIRES_IN="10s"
REFRESH_TOKEN_EXPIRES_IN="14d"
REFRESH_PEPPER="secret"
API_KEY_PEPPER="secret"
API_TOKEN_EXPIRES_IN="30d"
API_TOKEN_FOR_CONSOLE_EXPIRES_IN="1d"
ONETIME_TOKEN_JWT_SECRET="secret"
ONETIME_TOKEN_EXPIRES_IN="1h"

UPLOAD_DIR="./data/uploads"
GIT_REPOSITORIES="./data/git_repositories"
BOX_DOWNLOAD_DIR="./data/box_files"

FRONT_BASE_URL="http://localhost:4200/ribbon-ui"

LOCAL_AI_BASE_URL="http://localhost:8000"

GCP_REGION="asia-northeast1"
GCP_REGION_ANTHROPIC="asia-northeast1"
GCP_CONTEXT_CACHE_LOCATION="asia-northeast1"
GCP_PROJECT_ID="gcp-project-id"
GCP_API_BASE_PATH="aiplatform.googleapis.com"

TYPEORM_TYPE="postgres"
TYPEORM_DATABASE="postgres"
TYPEORM_HOST="localhost"
TYPEORM_PORT="5432"
TYPEORM_USERNAME="username"
TYPEORM_PASSWORD="password"
TYPEORM_SCHEMA="openaiapiwrapper"

AXIOS_EXTERNAL_PROXY_PROTOCOL="http"
AXIOS_EXTERNAL_PROXY_HOST="localhost"
AXIOS_EXTERNAL_PROXY_PORT="80"

OAUTH2_PATH_MAIL_MESSAGE="/oauth/mail/message"
OAUTH2_PATH_MAIL_AUTH="/oauth/mail/auth"

# API_KEY暗号化鍵
ENCRYPTION_KEY="ENCRYPTION_KEY"

MATTERMOST_TOKEN="MATTERMOST_TOKEN"
BATCH_USER_ID="BATCH_USER_ID"
